@font-face {
  font-family: 'sourcecodepro'; /* Choose a descriptive name for your font */
  src: url('scpi.ttf') format('truetype');
         font-weight: normal; /* Specify font weight if applicable */
         font-style: italic; /* Specify font style if applicable */
}


body {  
  background-color : rgb(59, 61, 62);
}

button {
    font-family: 'sourcecodepro', monospace;
    font-size: 20px;
    font-style: italic;
    height: 40px;
    width: 100px;
    background-color: #d67e7e;
   border: none;
    border-radius: 50%;
    color: white;
  /* padding: 20px; */

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin: 4px 2px;
}





.container {
    position: absolute;
}
label {
    font-family: 'Arial', monospace;
    font-size: 20px;
    display: block;
    margin-bottom: 5px; /* Optional: Add some space below the label */
}


textarea {
    font: 'sourcecodepro', monospace;
    font-style: normal;
    font-size : 12px;
    background-color: #513e3e;
    color: white;
}


  
